<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Plotlyjs Example</title>
  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <div class="container-fluid col-sm-12 col-md-12 col-lg-12'">
    <div class="row">
      <div class="jumbotron text-center bg-primary text-white col-sm-12 col-md-12">
        <div class='row'>
          <div class='col-sm-0 col-md-3 col-lg-4'>
            <!-- https://en.wikipedia.org/wiki/File:Bacteria_morphologic_forms_simplified.svg/ -->
            <!-- <img class='img-fluid' src='../Images/Bacteria_morphologic_forms_simplified.svg'> -->
            <!-- <img class='img-fluid' src='Images/Bacteria_morphologic_forms_simplified.svg'> -->
          </div>
          <div class='col-sm-12 col-md-9 col-lg-8'>
            <div class="text-right">
              <p>Frederik De Bruyker</p>
            </div>
            <div>
              <h1>Belly Button Biodiversity Dashboard</h1>
              <p>Use the interactive charts below to explore the dataset</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="card border-primary well">
          <div class='card-header bg-primary text-white'>
            <h5>SELECT Sample:</h5>
          </div>
          <select id="selDataset" class='card-body' onchange="optionChanged(this.value)"></select>
        </div>
        <div class="card mt-3 border-primary">
          <div class="card-header bg-primary text-white">
            <h5 class="card-title">Sample MetaData</h5>
          </div>
          <div id="sample-metadata" class="card-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="pie"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>

  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>